/* body style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f7f7f7;
    
}
p {
    font-family: 'Open Sans', sans-serif;
}

/*end body style*/
.carousel-caption h5 {
    animation-name: kf1; /* thiết lập keyframe */
    animation-duration: 1s; /* một chu trình điễn ra 3s */
    animation-iteration-count: 1; /* lặp lại chu trình 1 lần */
    height: 100px;
    position: relative;
    font-size: 50px;
    color: greenyellow;
    left: 0px;
    top: -150px;
}
.text1 {
    animation-name: kf1; /* thiết lập keyframe */
    animation-duration: 1s; /* một chu trình điễn ra 3s */
    animation-iteration-count: 1; /* lặp lại chu trình 1 lần */
    height: 20px;
    position: relative;
    font-size: 20px;
    color: orangered;
    left: 0px;
    top: -10px;
}
.text2 {
    animation-name: kf2; /* thiết lập keyframe */
    animation-duration: 1s; /* một chu trình điễn ra 3s */
    animation-iteration-count: 1; /* lặp lại chu trình 1 lần */
    height: 90px;
    position: relative;
    font-size: 40px;
    color: black;
    font-weight: bold;
    left: 0px;
    top: -15px;
}
.text3 {
    animation-name: kf3; /* thiết lập keyframe */
    animation-duration: 1s; /* một chu trình điễn ra 3s */
    animation-iteration-count: 1; /* lặp lại chu trình 1 lần */
    height: 100px;
    position: relative;
    left: 0px;
    top: 0px;
}
@keyframes kf1 {
    from { /* thời điểm ban đầu của chu trình */
        top: -200px;
    }

    to { /* thời điểm cuối của chu trình */
        top: -10px;
    }
}

@keyframes kf2 {
    from { /* thời điểm ban đầu của chu trình */
        left: -1000px;
    }

    to { /* thời điểm cuối của chu trình */
        left: 0px;
    }
}
@keyframes kf3 {
    from { /* thời điểm ban đầu của chu trình */
        left: 1000px;
    }

    to { /* thời điểm cuối của chu trình */
        left: 0px;
    }
}

/* start deal products */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
/*end deal products */

/*product card */
body,
html {
    height: 100%;
}
.TitleListProduct {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}
.ViewAll {
    margin-right: 20px;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}




.el-wrapper {
    width: 220px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
}
    /* Fix size products card 

@media (max-width: 991px) {
    .el-wrapper {
        width: 345px;
    }
}

@media (max-width: 767px) {
    .el-wrapper {
        width: 290px;
        margin: 30px auto;
    }
}
    */

    .el-wrapper:hover .h-bg {
        left: 0px;
    }

    .el-wrapper:hover .price {
        left: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #818181;
    }

    .el-wrapper:hover .add-to-cart {
        left: 50%;
    }

    .el-wrapper:hover .img {
        webkit-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
        filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
        opacity: 0.4;
    }

    .el-wrapper:hover .info-inner {
        bottom: 155px;
    }

    .el-wrapper:hover .a-size {
        -webkit-transition-delay: 300ms;
        -o-transition-delay: 300ms;
        transition-delay: 300ms;
        bottom: 50px;
        opacity: 1;
    }

    .el-wrapper .box-down {
        width: 100%;
        height: 60px;
        position: relative;
        overflow: hidden;
    }

    .el-wrapper .box-up {
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .el-wrapper .img {
        width: 80%;
        -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
    }

.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
}

    .h-bg .h-bg-inner {
        width: 50%;
        height: 100%;
        background-color: #464646;
    }

.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
}

    .info-inner .p-name,
    .info-inner .p-company {
        display: block;
    }

    .info-inner .p-name {
       
        font-size: 18px;
        color: #252525;
    }

    .info-inner .p-company {
       
        font-size: 12px;
        text-transform: uppercase;
        color: #8c8c8c;
    }

.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
   
    color: #828282;
    opacity: 0;
}

    .a-size .size {
        color: #252525;
    }

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
    font-weight: 700;
}

    .cart .price {
        -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: #252525;
    }

    .cart .add-to-cart {
        -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 110%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        .cart .add-to-cart .txt {
            font-size: 12px;
            color: #fff;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            white-space: nowrap;
        }

/*end product card*/
