body {
  margin: 12px;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1240px;
  margin: auto;
  margin-top: 100px;
}

.logo-dai-dien {
  height: 10vh;
  width: 10vw;
}

.bottom-header {
  background-color: #00c2c5;
}

.dep {
  box-shadow: 3px 2px 10px;
}

.mauChu {
  color: rgba(60, 58, 58, 0.868);
}

.anhgg {
  width: 100%;
  height: 250px;
}

.chucontact {
  margin-top: 50px;
  font-size: 25px;
}

.col-12 {
  width: calc(12 * 100% / 12);
  box-sizing: border-box;
}

.col-4 {
  width: calc(4 * 100% / 12);
  box-sizing: border-box;
}

.dieuchinh {
  width: 100%;
  height: 100%;
  display: flex;
}

.indam {
  font-weight: bolder;
}
