body {
  margin: 0;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.logo-dai-dien {
  height: 10vh;
  width: 10vw;
}

.bottom-header {
  background-color: #00c2c5;
}

.dep {
  box-shadow: 3px 2px 10px;
}

.mauChu {
  color: rgba(60, 58, 58, 0.868);
}
